@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

h1.title {
    margin-bottom: 20px;
    color: #444444;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 25px;
    letter-spacing: 5px;
}

h2.title {
    margin-bottom: 20px;
    color: #444444;
    font-family: 'Allura', cursive;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 25px;
    letter-spacing: 5px;
}

p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a9a9a9;
}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #fb2274;
    color: #fb2274;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_container {
    position: relative;
}

/* Navigation Bar */
.topnav {
    background-color: rgb(28, 174, 28);
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(255, 208, 0);
    color: rgb(28, 174, 28);
}

.topnav a.active {
    background-color: rgb(255, 208, 0);
    color: rgb(28, 174, 28);
}

.topnav .icon {
    display: none;
}

/* banner_image */
.banner_image {
    background: url('images/kumo-background-header.jpg') no-repeat top;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    padding: 1em;
    text-align: center;
    color: green;
}

.banner_content h1 {
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
}

.banner_content h1 span {
    color: rgb(243, 175, 50);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
}

/* About */
.about {
    display: grid;
    text-align: center;
    padding: 2em;
}

/* Services */

.summary {
    padding: 8px;
}

.summary .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    text-align: center;
}

ul.lists {
    list-style-type: square;
}

.summary li {
    text-align: center;
}

.columns {
    float: left;
    width: 50%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #111;
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #111;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.services:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Contact us */

/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(243, 175, 50);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.contact-column {
    float: left;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.contact:after {
    content: "";
    display: table;
    clear: both;
}

.icons {
    margin-top: 6px;
    margin-bottom: 16px;
}

.icons a {
    padding: 10px;
    text-decoration: none;
}

.icons a i:hover {
    font-weight: 1000;
}

/* our team */
.ourteam {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* footer */
.footer {
    width: 100%;
    text-align: center;
    background: #444444;
    padding: 20px;
}

.footer a {
    color: #fff;
}



@media only screen and (max-width: 500px) and (min-width: 390px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.active {
        display: none;
    }

    .topnav a.icon {
        float: left;
        display: block;
    }

    .topnav.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: right;
        display: block;
        text-align: left;
    }


    .banner_content {
        margin-top: 35px;
    }

    .ourteam_wrapper {
        width: 100%;
    }

    .columns {
        width: 100%;
    }

    .contact-column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

}

@media only screen and (max-width: 300px) {

    .prev,
    .next {
        font-size: 11px
    }
}